.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.flex-item {
    flex-grow: 1;
}

#choices {
    margin-top: 10px;
}
#next {
    margin-top: 10px;
}